*{
  box-sizing: border-box;
 
}

body{
  margin: 0px; 
  font-family: Bookman;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


article{
  margin-top: 0px;
}


header{
  background-color: #00007F;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center
}

h1{
  font-size: 500%;
}
img{
  display: block;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;

}


@media(max-width: 768px){

  
  #container .container,
  p{
    float:none;
    text-align: center;
    width: 100%;
    font-size: 75%;

  }

}
